<div>
    <h1>Show Finder</h1>
    <p>This website will let you search for shows. Just type any show you want to search in the search box</p>

    <form action ="/searchshows" method="POST" class="new-post-form">
        <label class="searchLabel" id="search">
            Search Term
            <input class="search" id="search" type="text" name = "searchTerm" placeholder="Search"/>
        </label>
        <button type="submit">Search</button>
    </form>

</div>
