<div class="container row">
    <div class="jumbotron col-sm-4 pull-center">
        <h4>The information of the User</h4>
        <h2>Username: {{user.username}}</h2>

        <a href="/logout">Sign Out</a>
    </div>
</div>