<div class="container row">
    <div class="jumbotron col-sm-4 pull-center">
        <h4>Register</h4>
        <form id="signup-form" method="POST" action="/signup">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="text" name="username" placeholder="Enter Username"
                    class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" placeholder="Enter Password"
                    class="form-control" />
            </div>
             <div class="form-group">
            <button id="signup-button" type="submit" class="btn btn-primary">Signup</button>
            </div>
        </form>

      
            {{#if error}}
            <h4>{{error}}</h4>
            {{/if}}
       

        <a href="/">Already have an account? Click here to log-in</a>

    </div>
</div>
